/*------------body and head style-------------*/
body { 
    background-color: #000000;
    color: #ffffff;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
 }
/*-------------Style for container-------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
/*------------Style for Player Names------------------*/
.player-1 {
    padding: 20px;
}
#name1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #ef492f;
    border-radius: 10px; 
}
.player-2 {
    padding: 20px;
}
#name2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #ef492f;
    border-radius: 10px;
}
.player-name {
    display: flex;
    justify-content: center;
    text-align: center;
}
.player-name input[type="text"] {
    margin-top: 5px;
    padding: -5px;
    border-color: #ef492f;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    width: 245px
  }